body{
    background: blue;
}
h1{
    font-size: 50px;
    color: brown;
}
h2{
    font-size: 100px;
}
table{
    background-image: url(http://pm1.narvii.com/7077/1a742ab24461135c3d09d038d2dd08b008ee98e3r1-400-400v2_00.jpg);
}
